.e__portfolio{
    margin-bottom: 10rem;
}

.e__portfolio-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/* .my-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.e__portfolio-content{
    margin-bottom: 3rem;
    margin-top: 4rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .e__portfolio-box .e__box-content{
    flex: 1;
} */

.e__portfolio-content h2{
    font-size: 40px;
    margin-bottom: 10px;
    background: linear-gradient(158deg, rgba(0,0,0,1) 25%, rgba(245,193,11,1) 94%);
    background-clip: text;
   -webkit-text-fill-color: transparent;
}

.e__portfolio-content p{
    font-size: 18px;
    text-align: center;
    line-height: 27px;
    width: 60%;
    color: #7a7a7a;
}

@media screen and (max-width: 1110px){
    .e__portfolio-content p{
        font-size: 16px;
        line-height: 24px;
        width: 70%;
    }

    .e__portfolio-content h2{
        font-size: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 950px){
    .e__portfolio-box{
        flex-direction: column;
    }
    
    /* .e__portfolio-content{
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
    
    .e__portfolio-content h2{
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .e__portfolio-content p{
        font-size: 14px;
        width: 80%;
    }
}



@media screen and (max-width: 650px){
    .e__portfolio-box{
        justify-content: center;
        align-items: center;
    }

    .e__portfolio-content h2{
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .e__portfolio-content p{
        font-size: 13px;
        width: 90%;
    }
}